header {
    background-color: rgb(31, 73, 125);
    color: #ffffff;
    width: 100%;
    height: 80px;
}

nav {
    background-color: rgba(18, 79, 154, 0.66);
    color: #ffffff;
    padding: 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin: 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

.div1 {
    background-image: url("imagenes/Pattern.png");
    background-size: contain;
    background-repeat: repeat-x;
    background-attachment: fixed;
    height: 77px;
}

.container {
    text-align: left;
    background: #124f9a;
    color: #f8f8f8;
    border: 2px solid black;
    padding: 20px;
    margin: 50px 50px 120px 50px;

    .canva {
        background-color: #a3b9d2;
        border: 2px solid black;
        width: 300px;
        height: 330px;
        float: right;
    }
}


.textindex {
    background: #124f9a;
    color: #f8f8f8;
    border: 2px solid black;
    padding: 20px;
    margin: 70px 50px;
}

.textrules {
    text-align: justify;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 100px;
}

.containercontact {
    text-align: left;
    background: #124f9a;
    color: #f8f8f8;
    border: 2px solid black;
    padding: 20px;
    margin: 30px 10% 100px 10%;
}


h2 {
    font-family: "Playfair Display", serif;
    font-weight: 100;
    text-align: center;
    color: #ffffff;
}

body {
    background: #f8f8f8;
    font-family: "Playfair Display", serif;
    font-size: 20px;
    text-align: center;

    a:link {
        color: black;
    }

    a:visited {
        color: #ffffff;
    }

    a:hover {
        color: #403e3e;
    }

    a:active {
        color: #f28215;
    }
}

#logo {
    width: 80px;
    height: 80px;
    float: left;
}

#total {
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #000000;
    margin-top: 10px;
    margin-right: 75%;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    color: #f8f8f8;
    padding: 1px;
    background: #1f497d;
    background-repeat: repeat-x;
    background-position: bottom;
}
